<!doctype html>
<html lang=”en”>
  
<head>
<meta charset=”UTF-8”>
<title>zentomi LLC website</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-info navbar-dark fixed-top justify-content-center">
        <!-- Links -->
        <a class="navbar-brand" href="/"><h1>zentomi</h1></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/about"><h3>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp About Us</h3></a>
          </li>
        </ul>
        <!-- Navbar text
        <span class="navbar-text">
          Navbar text
        </span>
        -->
      </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
    <div class="container">

    <h6>zentomi について:</h6>
    <table class="table table-bordered table-lg">
            <thead>
              <tr>
                <th>項目・Category</th>
                <th>内容・Content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>商号・Company Name</td>
                <td>合同会社　zentomi LLC・ zentomi LLC G.K. </td>
              </tr>
              <tr>
                <td>会社成立の年月日・Founding Date</td>
                <td>平成２９年9月26日・2017/9/26</td>
              </tr>
              <tr>
                <td>目的・Purpose</td>
                <td>投資及びコンサルティング等・Investment and Consulting</td>
              </tr>
              <tr>
                    <td>資本金・Capital </td>
                    <td>金100万円・JPY 1m</td>
                  </tr>
                  <tr>
                        <td>代表社員・Representative </td>
                        <td>グオ　ジョンミン・Zhongmin Guo</td>
                      </tr>
                      <tr>
                            <td>コンタクト・Contact</td>
                            <td>zg@zentomi.net</td>
                          </tr>
            </tbody>
          </table>

</div>

</body>
</html>