<!doctype html>
<html lang=”en”>
  
<head>
<meta charset=”UTF-8”>
<title>Simple zentomi website</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-info navbar-dark fixed-top justify-content-center">
        <!-- Links -->
        <a class="navbar-brand" href="#"><h1>zentomi</h1></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/about"><h3>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp About Us</h3></a>
          </li>
        </ul>
        <!-- Navbar text
        <span class="navbar-text">
          Navbar text
        </span>
        -->
      </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <div class="container">

    <h1>原則・Principles:</h1>
        <ul>
            <li>
                <h2>Save our planet Earth</h2>
                <h2>地球の環境を守る</h2>
            </li>
            <li>
                <h2>Improve our immediate environment and communities</h2> 
                <h2>周りの環境と人達を思いやる</h2> 
            </li>
            <li>
                <h2>Do no harm to others</h2>
                <h2>他人によくない事をしない</h2>
            </li>
        </ul>

        <br>
        <br>

        <h1>活動分野・Areas of Interest: </h1>
        <ul>
                <li>
                    <h2>Clean energy</h2>
                    <h2>クリーンエネルギ</h2>
                </li>
                <li>
                    <h2>Organic farming</h2>
                    <h2>オガニック農業</h2>
                </li>
                <li>
                    <h2>Distruptive technologies and business models</h2>
                    <h2>新しいかつ破壊的なテクノロジーとビジネスモーデル</h2>
                </li>
        </ul>

      </div>

</body>
</html>